@import url("/style/normalize.css");
@import url("/style/base.css");
@import url("/style/a11y.css");
@import url("/style/theme.css");

/* All Device */
body {
  background: url("/assets/images/hero-bg-mobile.png") var(--netflix-black)
    no-repeat 0 0 / cover;
  color: var(--netflix-white);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 23px 18px;
}

.logo {
  width: 4.625rem;
  height: 1.25rem;
  text-indent: -9999px;
  position: relative;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url("/assets/images/logo.png") no-repeat 0 0 / cover;
}

select {
  padding: 0.375rem;
  border: 1px solid var(--netflix-gray);
  border-radius: 0.188rem;
  width: 4.875rem;
  background: transparent;
  color: var(--netflix-gray);
  margin-right: 0.75rem;
}

.login-button {
  background: var(--netflix-red);
  border-radius: 0.188rem;
  padding: 0.375rem 1.25rem;
}

/* MainContent */

.promotion {
  padding: 4.125rem 1.563rem 0;

  text-align: center;
  position: relative;
}
.promotion-title {
  display: block;
  margin-top: 4.375rem;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 120%;
  margin-bottom: 1.875rem;
}
.promotion-sub {
  font-weight: 700;
  font-size: 0.938rem;
  line-height: 130%;
  color: var(--netflix-right-gray);
}
.promotion-desc {
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 135%;
  color: var(--netflix-gray);
  margin: 0.625rem 0 1.875rem;
}
.promotion-enter fieldset {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding-bottom: 3.125rem;
}
.email-input {
  width: 15.313rem;
  height: 2.5rem;
  border-radius: 1.875rem;
  text-indent: 1.25rem;
  border: none;
}
.submit-btn {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  background-color: red;
  border-radius: 1.875rem;
  margin-top: 0.75rem;
  border: none;
  color: var(--netflix-white);
  width: 10rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.promotion-notice {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  color: #919191;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Service item list */
.service-item {
  display: block;
  text-align: center;
  width: 375px;
  height: 556px;
  margin: 0 auto;
}

.service-contents {
  background-color: coral;
  height: 100%;  
}

.service-media {
  background-color: #fff;
  width: 340px;
  height: 255px;
  margin: 0 auto ;
  
}

/* faq */
.faq {
  margin: 1.25rem 1.125rem;
}

.faq-title {
  margin-top: 3.75rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.faq-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.313rem;
  margin-top: 1.875rem;
}

.faq-item {
  background: var(--netflix-dark-gray);
  width: 100%;
}

.faq-btn {
  display: block;
  width: 100%;
  padding: 0.688rem 0 0.688rem 0.688rem;
  position: relative;
}

.faq-btn span {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.75rem;
}

.faq-desc {
  text-align: center;
  margin: 1.875rem;
}

/* Footer */
.footer {
  margin: 2.5rem 1.5rem;
}

.footer-faq {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
}

.footer-list {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1.625rem;
  color: var(--netflix-gray);
}

.footer-item {
  width: 50%;
  margin-bottom: 0.625rem;
}

#language-select {
  margin-top: 1.75rem;
}

.footer-desc-container {
  margin-top: 2.375rem;
  color: var(--netflix-gray);
}

.footer-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--netflix-right-gray);
}

.footer-desc {
  line-height: 1.313rem;
}

/* Desktop (Large Screen) */
@media screen and (min-width: 768px) {
  body {
    width: 1200px;
    margin: 0 auto;
    background: url("/assets/images/hero-bg-desktop.png") var(--netflix-black)
      no-repeat 0 0;
  }

  /* Header */
  .header {
    width: 1200px;
    margin: 0.438rem auto 0;
  }

  .logo {
    width: 8.75rem;
    height: 2.375rem;
  }

  .login-button {
    padding: 0.5rem 1.25rem;
  }

  /* MainContent */
  .promotion-enter fieldset {
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  .promotion-desc {
    text-align: center;
    width: 19.125rem;
    margin-right: auto;
    margin-left: auto;
  }

  .email-input {
    width: 33.75rem;
    border-radius: 0;
  }

  .submit-btn {
    border-radius: 0;
    padding: 0;
    margin: 0;
    width: 8.625rem;
  }

  /* Service item list */
  .service-item {
    width: 100%;
    height: 480px;
    padding: 60px 200px;
  }

  .service-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .service-media {
    width: 300px;
    height: 300px;
  }

  .service-text {
    width: 300px;
    margin-left: 20px;
  }

  .service-item:nth-child(2) .service-contents{
    flex-direction: row-reverse;
  }

  /* faq */
  .faq-list {
    align-items: center;
  }

  .faq-item {
    width: 50rem;
  }

  /* Footer */
  .footer-faq {
    display: flex;
  }

  .footer-item {
    width: 25%;
  }
}
