:root {
  --netflix-red: #e50914;
  --netflix-vivid-red: #ff000d;
  --netflix-blue: #0071eb;
  --netflix-visible: #2ede75;
  --netflix-black: #010101;
  --netflix-dart-gray: #303030;
  --netflix-gray: #757575;
  --netflix-right-gray: #b5b5b5;
  --netflix-white: #ffffff;
}
